{% for key, messages in app.session.flashBag() %}
{% for msj in messages %}
    <div class="alert alert-{{ key }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msj|trans({}) }}
    </div>
{% endfor %}
{% endfor %}