<div class="modal fade" id="MyModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% block header '' %}</h3>
    </div>
    <div class="modal-body">{% block body '' %}</div>
    <div class="modal-footer">
        {% block footer %}
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        {% endblock %}
    </div>
</div>
<script>
    $("#MyModal").modal();
</script>