<div class="modal hide" id="mi_modal">
    <div class="modal-header">Detalles del Correo</div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <a href="#">Cerrar</a>
    </div>
</div>