{% extends "JangoMailBundle::base.html.twig" %}
{% block cuerpo %}
<div class="page-header">
    <h1>Crear Grupo</h1>
</div>
<form action="{{ path('JangoMailBundle_Grupos_crear') }}" method="post">
     {{ form_widget(form) }}
        <input type="submit" value="Enviar Form" class="btn btn-primary" />
</form>
{% endblock %}