{% extends "JangoMailBundle::base.html.twig" %}
{% block cuerpo %}
<h1>Lista de Grupos en Jango</h1>
<table class="table table-bordered table-striped">
    <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.groupID }}</td>
                <td>{{ grupo.name }}</td>
                <td>{{ grupo.memberCount }} Miembros</td>
                <td><a href="{{ path('JangoMailBundle_Grupos_editar') }}">Editar</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100">No hay Grupos</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}