{% extends "JangoMailBundle::base.html.twig" %}
{% block cuerpo %}
<h1>Lista de Miembros del Grupo <small><b>{{ grupo.name }}</b></small></h1>
    <!--<p><a href="{{ path("JangoMailBundle_Grupos_crear") }}" class="btn btn-primary">Crear Grupo</a></p>-->
<table class="table table-bordered table-striped">
    <tbody>
        {% for miembro in miembros %}
            <tr>
                <td>{{ miembro.name }}</td>
                <td>{{ miembro.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100">No hay Miembros</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}