{% extends '@JangoMail/bs3/base_ajax.html.twig' %}

{% set modal_footer = block('footer') %}

{% block body %}
    <div id="{{ modal_id|default }}" class="modal fade">
        <div class="modal-dialog modal-{{ modal_size|default('lg') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3> {% block page_header %}{% endblock %}</h3>
                </div>
                <div class="modal-body">
                    {% block content %}{% endblock %}
                </div>
                {% if modal_footer is not empty %}
                    <div class="modal-footer">
                        {{ modal_footer|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
